<main class="py-5 frms">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-md-8 py-1">
                <div class="card">
                    <h2 class="m-b-2 card-header ">Registro Proveedor</h2>
                    <form action="#" class="py-5 card-body " method="POST">
                        <div class="form-group row">
                            <label for="razonSocial" class="col-lg-2 col-form-label">Razón Social</label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" id="razonSocial" name="razonSocial"
                                    placeholder="Razón Social" data-toggle="tooltip" data-placement="top"
                                    title="Ingrese su Razón Social">
                            </div>
                           <label for="tipodocumentoID" class=" col-lg-2 col-form-label">Tipo Documento
                            </label>
                            <div class="col-lg-4">
                                <select class="form-control" id="tipodocumentoID" name="tipodocumentoID">
                                    <option value="">--Seleccionar--</option>
                                    {{#each proveedorDocumento}}
                                        <option value="{{id}}">{{nombre}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="numeroDocumento" class=" col-lg-2 col-form-label">N° De Documento </label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" id="numeroDocumento" name="numeroDocumento"
                                    placeholder="Número de documento" data-toggle="tooltip" data-placement="top"
                                    title="Ingrese el Número de Documento">
                            </div>
                            <label for="direccion" class="col-lg-2 col-form-label">Dirección </label>
                            <div class="col-lg-4">
                                <input class="form-control" type="text" id="direccion"
                                    name="direccion" placeholder="Dirección de Proveedor "
                                    data-toggle="tooltip" data-placement="top" title="Ingrese la Dirección ">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="telefono" class=" col-lg-2 col-form-label">Teléfono</label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" id="telefono" name="telefono"
                                    placeholder="Teléfono de Proveedor" data-toggle="tooltip" data-placement="top"
                                    title="Ingrese el Telefono">
                            </div>
                            <label for="correo" class=" col-lg-2 col-form-label">E-Mail</label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" id="correoElectronico" name="correoElectronico"
                                    placeholder="Email de Proveedor" data-toggle="tooltip" data-placement="top"
                                    title="Ingrese el Email">
                            </div>
                        </div>
                        <div class="form-group row py-4">
                            <div class="col-lg-6 offset-lg-2">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                                <button type="reset" class="btn btn-secondary">Limpiar</button>
                                <button type="submit" class="generar btn btn-primary">Generar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card">
                    <div class="card-header">Nota</div>
                    <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                    </div>
                </div>
            </div>
            <table class="card-body table table-responsive table-striped py-4">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Razón Social</th>
                        <th>Tipo Documento</th>
                        <th>N° Documento</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>E-mail</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                   {{#each Proveedor}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{razonSocial}}</td>
                        <td>{{tipoDocumento}}</td>
                        <td>{{numeroDocumento}}</td>
                        <td>{{direccion}}</td>
                        <td>{{telefono}}</td>
                        <td>{{correoElectronico}}</td>
                        <td>
                            <i class="updateicon fas fa-edit"></i>
                            <a href="delete/{{id}}" class="deleteicon fas fa-trash-alt"></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</main>