<main class="py-5 frms">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-md-8 py-1">
                <div class="card">
                    <h2 class="m-b-2 card-header ">Registro Producto</h2>
                    <form action="#" class="py-5 card-body " method="POST">
                        <div class="form-group row">
                            <label for="nombre" class="col-lg-2 col-form-label">Nombre</label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" id="nombre" name="nombre"
                                    placeholder="Nombre Producto" data-toggle="tooltip" data-placement="top"
                                    title="Ingrese el Nombre">
                            </div>
                            <label for="descripcion" class="col-lg-2 col-form-label">Descripción</label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" id="descripcion" name="descripcion"
                                    placeholder="Descripción" data-toggle="tooltip" data-placement="top"
                                    title="Ingrese la Descripción">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="marcaID" class=" col-lg-2 col-form-label">Categoria
                            </label>
                            <div class="col-lg-4">
                                <select class="form-control" id="categoriaID" name="categoriaID">
                                    <option value="">--Seleccionar--</option>
                                    {{#each categoria}}
                                    <option value="{{id}}">{{nombre}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <label for="valorUnidadCompra" class=" col-lg-2 col-form-label">Valor Compra</label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" id="valorUnidadCompra" name="valorUnidadCompra"
                                    placeholder="Valor Unidad Compra" data-toggle="tooltip" data-placement="top"
                                    title="Valor Unidad Compra">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="valorUnidadCliente" class=" col-lg-2 col-form-label">Valor Cliente</label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" id="valorUnidadCliente"
                                    name="valorUnidadCliente" placeholder="Valor Unidad Cliente" data-toggle="tooltip"
                                    data-placement="top" title="Valor Unidad Cliente">
                            </div>
                        </div>
                        <div class="form-group row py-4">
                            <div class="col-lg-6 offset-lg-2">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                                <button type="reset" class="btn btn-secondary">Limpiar</button>
                                <button type="submit" class="generar btn btn-primary">Generar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card">
                    <div class="card-header">Nota</div>
                    <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                    </div>
                </div>
            </div>
            <table class="card-body table table-responsive table-striped py-4">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Categoria</th>
                        <th>Valor Compra</th>
                        <th>Valor Cliente</th>
                        <th>Cantidad en Stock</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each producto}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{nombre}}</td>
                        <td>{{descripcion}}</td>
                        <td>{{nombreCategoria}}</td>
                        <td>{{valorUnidadCompra}}</td>
                        <td>{{valorUnidadCliente}}</td>
                        <td>---Pendiente---</td>
                        <td>
                            <i class="updateicon fas fa-edit"></i>
                            <a href="delete/{{id}}" class="deleteicon fas fa-trash-alt"></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</main>