<main class="py-5 frms">
    <div class="container py-5">
        <div class="row py-4">
            <div class="col-md-8 py-1">
                <div class="card">
                    <h2 class="m-b-2 card-header ">Registro de Rol de Usuario</h2>
                    <form action="#" class="py-5 card-body " method="post">
                        <div class="form-group row">
                            <label for="nombre" class="col-lg-2 col-form-label">Nombre</label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" value="" id="nombre" name="nombre"
                                    placeholder="Nombre" data-toggle="tooltip" data-placement="top"
                                    title="Ingrese el Rol">
                            </div>
                            <label for="descripcion" class="col-lg-2 col-form-label">Descripción</label>
                            <div class="col-lg-4">
                                <input class=" form-control" type="text" value="" id="descripcion" name="descripcion"
                                    placeholder="Descripción" data-toggle="tooltip" data-placement="top"
                                    title="Ingrese la Descripción">
                            </div>
                        </div>
                        <div class="form-group row py-4">
                            <div class="col-lg-4 offset-lg-2">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                                <button type="reset" class="btn btn-secondary" href="limpiar/">Limpiar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card">
                    <div class="card-header">Nota</div>
                    <div class="card-body">
                        <h4 class="card-title">Special title treatment</h4>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                    </div>
                </div>
            </div>
            <table class="card-body table table-responsive table-striped py-4">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Rol</th>
                        <th>Descripción</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Imprimiendo la Tabla Rol -->
                    {{#each rol}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{nombre}}</td>
                        <td>{{descripcion}}</td>

                        <td>

                            <!--Botón modal-->
                            <a href="" class="updateicon fas fa-edit" data-toggle="modal"
                                data-target="#modificarRol{{id}}"></a>

                            <!-- Modal de Actualización-->
                            <div class="modal" id="modificarRol{{id}}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">

                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <form action="update/{{id}}" class="py-5 card-body " method="post">

                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenteredLabel">Modificar
                                                    Rol
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group row d-flex justify-content-center">
                                                    <label for="nombre" class="col-form-label">Nombre</label>
                                                    <div class="col-lg-4">
                                                        <input class=" form-control" type="text" value="{{nombre}}"
                                                            id="nombre" name="nombre" placeholder="Nombre"
                                                            data-toggle="tooltip" data-placement="top"
                                                            title="Modificar el Rol">
                                                    </div>
                                                    <label for="descripcion" class="col-form-label">Descripción</label>
                                                    <div class="col-lg-4">
                                                        <input class=" form-control" type="text" value="{{descripcion}}"
                                                            id="descripcion" name="descripcion" placeholder="Modificar descripción"
                                                            data-toggle="tooltip" data-placement="top"
                                                            title="Modificar la Descripción">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Cerrar</button>
                                                <button type="submit" class="btn btn-primary">Guardar
                                                    Cambios</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- boton eliminar-->
                            <a href="delete/{{id}}" class="deleteicon fas fa-trash-alt"></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</main>